---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Sobre mim"
	description="Vida de pai não é facil..."
	pubDate={new Date('Janeiro 19 2025')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p style="text-align:justify">
		Olá! Meu nome é Rodrigo, e sou o criador do Vida de Pai, um projeto que
		começou em 2017 como um canal no YouTube. A ideia nasceu do desejo de ajudar pais de 
		primeira viagem com dicas valiosas sobre paternidade e também registrar minha própria 
		jornada como pai, marido e provedor do meu lar.
	</p>
		
	<p style="text-align:justify">
		Ao longo dos anos, aprendi que ser pai vai muito além do que imaginamos quando seguramos 
		nosso filho pela primeira vez. É uma jornada desafiadora e transformadora, repleta de 
		descobertas, alegrias, e, claro, alguns tropeços.
	</p>
	<p style="text-align:justify">
		O Vida de Pai é um espaço onde compartilho essas vivências, na esperança de inspirar e 
		fortalecer outros pais que também trilham esse caminho. Aqui você encontrará conselhos 
		práticos, reflexões sinceras e momentos do cotidiano que tornam a paternidade uma 
		experiência tão única e especial.
	</p>	
	<p style="text-align:justify">
		Trabalho constantemente para melhorar a experiência de quem acompanha o conteúdo, porque 
		acredito que cada pai merece sentir-se mais preparado e confiante para essa aventura 
		incrível.
	</p>	
	<p style="text-align:justify">
		Seja muito bem-vindo(a) ao Vida de Pai! Fique à vontade para explorar, aprender e, quem 
		sabe, também compartilhar sua história comigo. Vamos juntos construir uma comunidade de 
		pais mais presentes e participativos.
	</p>	
	<p style="text-align:justify">
		Afinal, vida de pai não é facil, mas também não é difícil.
	</p>	
</Layout>
