---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Livros"
	description="Vida de pai não é facil..."
	pubDate={new Date('Janeiro 19 2025')}
	heroImage="/livros.jpg"
>
	<p>
		Os links abaixo são todos os livros que indico você ler ou presentear quem você tanto ama:
		<br>
			1. <a href="https://amzn.to/4h0X01N" target="_blank">As primeiras quatro estações: vivendo a maternidade</a><br>
			2. <a href="https://amzn.to/40Cj2lF" target="_blank">Maternidade Sem Culpa</a><br>
			3. <a href="https://amzn.to/4g7tFRM" target="_blank">Mãe recem-nascida</a><br>
			
	</p>

</Layout>