---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Produtos"
	description="Vida de pai não é facil..."
	pubDate={new Date('Janeiro 19 2025')}
	heroImage="/produtos.jpg"
>
	<p>
		Os links abaixo são todos os produtos que indico para você ter ou presentear quem você tanto ama:
		<br>
			1. <a href="https://amzn.to/3WJyFFq" target="_blank">Blusa feminina de amamentação macia para maternidade - Marca: Ekouaer</a><br>
			2. <a href="https://amzn.to/4aGkQgV" target="_blank">Canguru para pais</a><br>
			3. <a href="https://amzn.to/3Cz2L7P" target="_blank">Babá eletrônica</a><br>
			4. <a href="https://amzn.to/4hi8XQT" target="_blank">Esterilizador de mamadeira - Philips</a><br>
			5. <a href="https://amzn.to/4jGnQxI" target="_blank">Absorventes Para Seios Lavável Com 4 Unidades Branco - Lansinoh</a><br>
			6. <a href="https://amzn.to/4aLE3gY" target="_blank">Termômetro Infravermelho 3 em 1 - Dellamed</a><br>
			
	</p>

</Layout>